<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>

  <% include ./partials/_header %>

</head>
<body style="font-size:20px; padding:50px;">
  <h2><a href='/urls/b2xVn2/'>Create New Tiny URL</a></h2>
      <h1>My tiny URLs</h1>
      <% for (let url in urls) { %>
      <h3>
        <li><%= url %> -  <%= urls[url] %></li>
      </h3>
      <form method="POST" action="/urls/<%= url %>/delete">
        <a href="/urls/<%= url %>/delete" title="Delete <%= url %>"><button type="submit">DELETE</button></a>

      </form>
      <% } %>


</body>
</html>
