<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>

  <% include ./partials/_header %>

</head>
<body style="font-size:20px; padding:50px;">
  <h2><a href='/urls/new/'>Create New Tiny URL</a></h2>
    <h1>My tiny URLs</h1>
      <% if(urls === {}){%>
        <h3>Currently No URLs here</h3>
      <% }  else {%>
      <% for (let url in urls) { %>
        <h3>
          <li><a href="/u/<%= url%>/"><%= url %></a> for  <%= urls[url].longURL %></li>
        </h3>
        <a href="/urls/<%= url %>/" title="Edit <%= url %>"><button button type="button submit" class="btn btn-info">EDIT</button></a>
        <form method="POST" action="/urls/<%= url %>/delete">
        <a href="/urls/<%= url %>/delete" title="Delete <%= url %>"><button type="button submit" class="btn btn-danger">DELETE</button></a>
      </form>
      <% } }%>


</body>
</html>
